.headerNav {
    margin-top: 20px;
    width: 1200px;
    display: flex;
}

.navList {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navItem {
    list-style-type: none;
    margin-left: 70px;
    color: black;

    &:first-child{
        margin-left: 70px;
    }
   
    &:nth-child(5) {
        margin-left: 100px;
    }
}

.logo {
    width: 92px;
    margin-left: 132px;
}

.userNav{
    position: relative;
    margin-left: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}