.mainButton{
    height: 35px;
    font-size: 16px;
    width: 160px;
    border: 1px solid rgba(116, 0, 0, 0.812);
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(150, 0, 0, 0.812);
    cursor: pointer;
}