html{
    height: 100vh;
    width: 100vw;
}
.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(11, 12, 15, 0.5);
    backdrop-filter: blur(5px);
}

.modalContent{
    background-color: rgb(255, 52, 41);
    width: 400px;
    color: white;
}

.modalHeader{
    padding: 15px 20px;
    background-color: rgb(202, 47, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(149, 221, 134, 1);
}

.modalActions{
    padding: 0px 20px 20px ;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.modalText {
    text-align: center;
    padding: 20px 20px;
}

.closeButton{
    font-family: sans-serif;
    cursor: pointer;
}