.mainButton{
    height: 35px;
    font-size: 16px;
    width: 160px;
    border: 1px solid rgba(149, 221, 134, 1);
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(149, 221, 134, 1);
    cursor: pointer;
}